
body {
    background-image: linear-gradient(to left, white, rgba(255, 192, 203, 0.41));
    background-size: 300%;
    animation: slide 15s infinite alternate;
}


@keyframes slide {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

h1, h2 {
    color: brown;
    text-align: center;
}
