{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Year</title>
    <link rel="stylesheet" href="{% static 'new_year/styles.css' %}">
</head>
<body>
    <h1>Is it New Year ?</h1>

    {% if newyear %}
        <h2>Yes, Happy New Year {{ name }}!</h2>
    {% else %}
        <h2>Not Yet {{ name }}</h2>
    {% endif %}
</body>
</html>