
form {
    display: grid;
    gap: 1em;
}


button {
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    padding: 0.6em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(253, 136, 155);
}

form {
    gap: 0.6em;
}

label {
    width: fit-content;
}

input {
    outline-color: #ffe4c4;
    height: 20px;
    border: 1px solid;
    padding: 0.2em 0.2em;
    border-color: rgba(10, 23, 37, 0.4);
}


input[type='number'] {
    display: inline-block;
    border-radius: 0;
}


button {
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    padding: 0.6em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(253, 136, 155);
    
}

